body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffda79;
}

.calculator {
  border: 1px solid #f7f1e3;
  width: 300px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 10px #f7f1e3;
  background-color: #130f40;
  color: aliceblue;
  display: grid;
}

input[type="text"] {
  width: 95%;
  padding: 5px;
  margin: 5px 0;
  background-color: aliceblue;
}

.buttons {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  padding: 10px;
  margin: 5px;
}
